node_modules/
vendor/
rlmwp/wp-config.php
rlmwp/wp-content/uploads/**/*
!rlmwp/wp-content/uploads/talks/**
**/assets/css/
**/assets/js/
/**cache**/**/*
/*.cache
**/.map
TEST*.xml
*.py[cod]
*.jar
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.tgz
*.map
*.log
*.env
**.DS_Store*
.DS_Store
ehthumbs.db
Thumbs.db
._*
*.un~
