<body style="background: #F8F9FA;">
   <table cellspacing="0" cellpadding="0" border="0" class="wrapper" align="center" width="600" style="font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';"
   >
   <tr align="center" bgcolor="#8565EA" style="color: #FFF;">
      <td valign="middle">
        <img src="{{image}}" alt="{{subject}}" style="display: block; width: 100%; height: auto;">
      </td>
   </tr>
   <tr>
      <td align="center" bgcolor="#FFFFFF" style="padding: 24px 60px;">
         <div style="font-size: 14px; color: #343A40; font-weight: 400; line-height: 24px; text-align: justify;">
            {{mailContent}}
         </div>
      </td>
   </tr>
   <tr>
      <td align="center" bgcolor="#FFFFFF">
         <a target="_blank" href="{{redirect}}" style="display: inline-block; padding: 8px 24px; border-radius:8px; border:none; cursor:pointer; text-decoration: none; background: #8565EA; font-size: 14px; font-weight: 600; line-height: 24px; color: #FFF;">
            <span style="margin-right: 8px">{{buttonTitle}}</span>
         </a>
      </td>
   </tr>
   <tr>
      <td align="center" bgcolor="#FFFFFF" style="padding-top:74px; padding-bottom:30px">
         <div style="width:480px; height:1px; background:#DEE2E6;">
      </td>
   </tr>
   <tr>
      <td align="center" bgcolor="#FFFFFF" style="padding-bottom:30px">
         <p style="font-size: 14px;">{{currentYear}}© {{brandName}} | All rights reserved</p>
      </td>
   </tr>
</table>
</body>
